PREPROCESSING

In [103]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import datetime

In [104]:
raw_data = pd.read_csv('../csv/caspecoTrainingData.csv', header=0)
raw_data = raw_data.sort_values('Date').reset_index(drop=True)
raw_data.head()

         Date  Company          Sales
0  2020-01-01        2   72608.623649
1  2020-01-02        2  205074.093589
2  2020-01-02        0   25421.830339
3  2020-01-02        1   57957.790779
4  2020-01-03        2  259426.462059

In [151]:
def missing_dates(df):
    date_counts = df["Date"].value_counts()[df["Date"].sort_values()].to_dict()
    t = np.datetime_as_string(np.arange(datetime.datetime(2020,1,1), datetime.datetime(2023,1,4), datetime.timedelta(days=1)),unit="D")
    missing_dates = []
    for date in t:
        if date not in date_counts :
            missing_dates.append(date)
        if date_counts[date] < 3:
            missing_dates.append(date)
    return missing_dates

def add_dates(lst, df):
    
    comp = np.sort(df['Company'].unique())

    for date in lst:

        new_df = df[df['Date'] == date]

        for c in comp:

            if c not in new_df['Company'].values:  
                new_row = pd.DataFrame({"Date": [date], "Company": [c],"Sales": [-1]})
                df = pd.concat([df, new_row], ignore_index=True)
    
    df = df.sort_values('Date').reset_index(drop=True)
    return df

missing = missing_dates(raw_data)
new_df = add_dates(missing, raw_data)


new_df.head()

## 1 jan var en onsdag

         Date  Company         Sales
0  2020-01-01        2  72608.623649
1  2020-01-01        1     -1.000000
2  2020-01-01        0     -1.000000
3  2020-01-02        1  57957.790779
4  2020-01-02        0  25421.830339